#include <behaviors.dtsi>
#include <dt-bindings/zmk/backlight.h>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/outputs.h>
#include <dt-bindings/zmk/rgb.h>

/ {
    behaviors {
        hm: homerow_mods {
            compatible = "zmk,behavior-hold-tap";
            label = "HOMEROW_MODS";
            #binding-cells = <2>;
            tapping-term-ms = <300>;
            quick_tap_ms = <0>;
            flavor = "tap-preferred";
            bindings = <&kp>, <&kp>;
        };
    };

    conditional_layers { compatible = "zmk,conditional-layers"; };

    combos {
        compatible = "zmk,combos";

        esc {
            bindings = <&kp ESC>;
            key-positions = <0 1>;
        };

        caps {
            bindings = <&kp CAPS>;
            key-positions = <0 10>;
        };

        back {
            bindings = <&kp BACKSPACE>;
            key-positions = <8 9>;
        };

        del {
            bindings = <&kp DEL>;
            key-positions = <9 19>;
        };

        fps {
            bindings = <&to 4>;
            key-positions = <13 14 15 16>;
        };

        qwerty {
            bindings = <&to 0>;
            key-positions = <3 4 5 6>;
        };

        connection+led {
            bindings = <&to 3>;
            key-positions = <32 0 9 33>;
        };

        moba {
            bindings = <&to 5>;
            key-positions = <23 24 25 26>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        QWERTY {
            bindings = <
&kp Q             &kp W           &kp E           &kp R      &kp T        &kp Y      &kp U            &kp I                &kp O                 &kp P
&hm LEFT_SHIFT A  &kp S           &kp D           &kp F      &kp G        &kp H      &kp J            &kp K                &kp L                 &hm RIGHT_SHIFT RA(COMMA)
&hm LCTRL Z       &hm LEFT_GUI X  &hm LEFT_ALT C  &kp V      &kp B        &kp N      &kp M            &hm RIGHT_ALT COMMA  &hm RIGHT_GUI PERIOD  &hm RCTRL SEMICOLON
                                  &kp LEFT_SHIFT  &lt 1 TAB  &kp SPACE    &kp ENTER  &lt 2 BACKSPACE  &kp LEFT_CONTROL
            >;

            label = "QWERTY";
        };

        NUMB-SYMB {
            bindings = <
&kp SINGLE_QUOTE  &kp TILDE      &kp CARET    &kp GRAVE             &kp QUESTION             &kp SLASH     &kp NUMBER_7  &kp NUMBER_8  &kp NUMBER_9  &kp ASTERISK
&kp EXCL          &kp AT_SIGN    &kp HASH     &kp LEFT_BRACE        &kp RIGHT_BRACE          &kp EQUAL     &kp NUMBER_4  &kp NUMBER_5  &kp NUMBER_6  &kp MINUS
&kp BSLH          &kp AMPERSAND  &kp PERCENT  &kp LEFT_PARENTHESIS  &kp RIGHT_PARENTHESIS    &kp NUMBER_0  &kp NUMBER_1  &kp NUMBER_2  &kp NUMBER_3  &kp PLUS
                                 &trans       &trans                &trans                   &trans        &trans        &trans
            >;

            label = "numbers and symbols";
        };

        FUNC-ACTION {
            bindings = <
&kp F1  &kp F2   &kp F3   &kp F4   &kp C_NEXT    &kp LEFT_ALT   &kp C_VOLUME_DOWN  &kp C_VOLUME_UP  &kp C_MUTE           &kp PRINTSCREEN
&kp F5  &kp F6   &kp F7   &kp F8   &kp C_PP      &kp PAGE_UP    &hm INSERT HOME    &kp UP_ARROW     &hm PRINTSCREEN END  &hm LG(LC(LEFT)) LC(PAGE_UP)
&kp F9  &kp F10  &kp F11  &kp F12  &kp C_PREV    &kp PAGE_DOWN  &kp LEFT_ARROW     &kp DOWN_ARROW   &kp RIGHT_ARROW      &hm LG(LC(RIGHT)) LC(PAGE_DOWN)
                 &trans   &trans   &trans        &trans         &trans             &trans
            >;

            label = "FN, actions and cursor";
        };

        CONECTION {
            bindings = <
&bt BT_CLR_ALL  &none         &studio_unlock  &none   &rgb_ug RGB_TOG    &rgb_ug RGB_COLOR_HSB(180,100,77)  &none   &none   &out OUT_BLE  &out OUT_USB
&none           &none         &none           &none   &bl BL_TOG         &bl BL_SET 100                     &none   &none   &none         &none
&bt BT_SEL 0    &bt BT_SEL 1  &bt BT_SEL 2    &none   &none              &none                              &none   &none   &none         &none
                              &trans          &trans  &none              &trans                             &trans  &trans
            >;
        };

        fps {
            bindings = <
&hm TAB ESC     &kp Q  &kp W  &kp E  &kp R        &kp T  &kp Y  &none  &none  &kp P
&kp LEFT_SHIFT  &kp A  &kp S  &kp D  &kp F        &none  &none  &none  &none  &none
&kp LCTRL       &kp Z  &kp X  &kp C  &kp V        &kp B  &none  &none  &none  &none
                       &none  &none  &kp SPACE    &none  &none  &none
            >;

            label = "fps";
        };

        moba {
            bindings = <
&kp N1            &kp N2  &kp N3    &kp N4     &kp N5       &none  &none  &none  &none  &none
&kp Q             &kp W   &kp E     &kp R      &kp T        &none  &none  &none  &none  &none
&hm LEFT_SHIFT A  &kp S   &kp D     &kp F      &kp X        &none  &none  &none  &none  &none
                          &kp LALT  &lt 6 TAB  &kp SPACE    &none  &none  &none
            >;
        };

        moba2 {
            bindings = <
&kp Y  &kp U  &kp I  &kp O  &kp P       &none  &none  &none  &none  &none
&kp H  &kp J  &kp K  &kp L  &kp FSLH    &none  &none  &none  &none  &none
&kp Z  &kp X  &kp C  &kp V  &kp B       &none  &none  &none  &none  &none
              &none  &none  &none       &none  &none  &none
            >;
        };
    };
};
